.loader-overlay {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 48px;
}

.loader {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--secondaryColor) var(--secondaryColor) transparent transparent;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: var(--primaryColor) var(--primaryColor) transparent transparent;
  width: 0.83em;
  height: 0.83em;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

.loader::before {
  width: 0.66em;
  height: 0.66em;
  border-color: transparent transparent var(--grayColor) var(--grayColor);
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}