header {
  font-weight: 500;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
}

.navigation {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  padding: 0.5rem;
}

header nav a {
  margin: 0 0.75rem;
}

header .burger_container {
  display: none;
}

.logo a {
  display: block;
  height: 32px;
}

.logo img {
  height: 100%;
  width: auto;
}

@media(max-width:960px) {

  header .burger_container {
    display: block;
  }

  header .burger_container button {
    display: flex;
  }

  header .nav_list,
  header .login_button {
    display: none;
  }
}